@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Comfortaa", cursive;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 222, 222);
}

#thermostat {
  width: 220px;
  height: 220px;
  position: relative;
  background-color: orange;
  background: radial-gradient(orange, rgb(250, 115, 4));
  /* background: conic-gradient(
        #559bb7 0%,
 
        #ff643d 100%
      ); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 30px solid grey;
  padding: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-display {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 28%;
}

.energy-icons {
  position: absolute;
  top: 6%;
  left: 40%;
  display: flex;
}

#temp-up,
#temp-down {
  margin: 15px;
}

button:hover {
  opacity: 1;
}

.btn-up:hover {
  color: tomato;
}

.btn-down:hover {
  color: rgb(46, 135, 250);
}

.fas {
  font-size: 2rem;
}

button {
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

#temp {
  font-size: 120px;
  width: 150px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 0.8rem;
}

#usage {
  padding-right: 0.7rem;
}

#usage.high {
  color: red;
}

#usage.low {
  color: green;
}

#powersave,
#usage,
#reset,
#outside {
  font-weight: bold;
  color: white;
}

#powersave {
  cursor: pointer;
  color: green;
}

#powersave.off {
  color: white;
}

.bottom-icons {
  position: absolute;
  bottom: 6%;
  left: 36%;
  display: flex;
}

#reset {
  padding-right: 0.7rem;
}
